<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<%=@gmaps_key%>"></script>
<% content_for :load_script do %>
	<script>

		var geoLocate = function(){
			console.log('geoLocate');
			GMaps.geolocate({
		        success: function(position){
		          setLatLong(latlng.lat(), latlng.lng());
		        },
		        error: function(error){
		          // fallBackToPlace('Geolocation failed: '+error.message);
		        },
		        not_supported: function(){
		          // fallBackToPlace('Your browser does not support geolocation');
		        },
		        always: function(){
		          
		        }
		    });
		}

		var geoCode = function(){
			console.log('geoCode');
			GMaps.geocode({
	          address: $('#_location').val().trim(),
	          callback: function(results, status){
	          	if(status=='OK'){
	              var latlng = results[0].geometry.location;
	              setLatLong(latlng.lat(), latlng.lng());
	              console.log('val setted');
	              false;
	              // map.setCenter(latlng.lat(), latlng.lng());
	              // map.addMarker({
	              //   lat: latlng.lat(),
	              //   lng: latlng.lng()
	              // });
	            }
	          }
	        });
		}

		var setLatLong = function(lat, long){
			$('#_lat').val(lat);
			$('#_long').val(long);
		}

		var localize = function(doLookup){
			window.event.preventDefault();
			var location = $('#_location').val().trim();
			console.log('location'+location);
			if ( location != "" ){
				console.log('new location => let\'s get coordinates');
				geoCode();
			} else {
				console.log('no location => cannot do anything');
			}
			// $('form').submit();
			true;
		}

		var handleLocation = function(latitude, longitude, location){
			console.log('latitude |'+latitude+'|');
			console.log('longitude |'+longitude+'|');
			console.log('location |'+location+'|');

			if ((latitude == 0) && (longitude == 0)){
				if (location == '') {
					geoLocate();
				} else {
					geoCode();
				}
			}
		}
		$(document).ready(function(){
			$('#_localizeMe').click(function(evt){
				// evt.preventDefault();
				// ensureGeoCode();
				localize();
				false;
			});
		});

		// handleLocation("<%#@project.latitude%>", "<%#@project.longitude%>", "<%#@project.location%>");

	</script>


<% end %>

<%= form_for @project, html: {onsubmit: 'return localize();'} do |f| %>
	
	<%= render "shared/error_messages", target: @project %>
	
	<div class="form-group">
		<%= f.label :name, "Nom" %>
	  	<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
	  	<%= f.label :description, "Description" %>
	  	<%= f.text_area :description, class: "form-control" %>
  	</div>

  	<div class="form-group">
	  	<%= f.label :location, "Lieu" %>
	  	<%= f.text_area :location, id: '_location', class: "form-control" %>
	  	<%= f.hidden_field :latitude, id: '_lat' %>
	  	<%= f.hidden_field :longitude, id: '_long'  %>
	  	<%= link_to "Me localiser", '#', id: '_localizeMe' %>
  	</div>

  	<div class="form-group">
	  	<%= f.label :category, 'Categorie' %>
	  	<%= f.select :category_id, Category.pluck(:name, :id), {}, {class: 'selectpicker'} %>
	</div>

	<div class="form-group">
	  	<%= f.label :amount, "Montant" %>
	  	<%= f.text_field :amount, class: "form-control" %>
  	</div>

	<%= f.submit "Valider", id: '_submit', class: "btn btn-success" %> <%= link_to 'Annuler', projects_path %>
<% end %>